<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<header>
	<!--imagen de logo-->
	<img >
	<!--barra de navegacion-->
	<!--https://desarrolloweb.com/articulos/barra-navegacion-horizontal-listas-css.html-->
	<div id= "navegador">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Colecciones</a></li>
		<li><a href="#">Otro</a></li>
		<li><a href="#">Otro Mas</a></li>
	
	</ul>
	</div>
	
	<div id= "logo">
	<img src="images/Logo.png" width=270"" heigth="80">
	
	</div>
	</header>


	

</body>
</html>