        /* Fonts */
        
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: "Roboto", sans-serif;
            background-color: #ebebeb;
            margin: 0;
            font-size: 15px;
            text-transform: uppercase
        }
        
        [class*=col-] {
            border: solid 1px red;
        }
        
        ul,
        ol {
            margin: 0;
            padding: o;
            list-style: none;
        }
        
        a {
            display: inline-block;
            text-decoration: none;
        }
        
        .main-header {
            background-color: white;
            padding: 10px 0;
            display: flex;
            flex-wrap: wrap;
            height: 100px;
            display: flex;
            flex-wrap: wrap;
        }
        
        .promocion {
            z-index: 3;
            font-size: 11px;
            padding: 6px;
            background-color: #F5F5DC;
            letter-spacing: 1px;
            text-align: center;
        }
        
        .logo {
            align-items: center;
        }
        
        .ingresar,
        .registrar {
            font-size: 15px;
            letter-spacing: 1px;
        }
        
        .carrito {
            text-align: center;
            display: block;
        }
        
        .class-footer {
            letter-spacing: 1px;
            text-align: center;
        }
        /* tablet */
        
        @media (min-width: 460px) {
            .main-header {
                height: 20%;
                font-size: 20px;
            }
            .promocion {
                padding: 6px 20px;
            }
            .class-footer {
                text-align: justify;
            }
        }