        /* Fonts */
        
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: "Roboto", sans-serif;
            background-color: #ebebeb;
            margin: 0;
            font-size: 15px;
            text-transform: uppercase;
            text-align: justify;
        }
        /*
        [class*=col-] {
            border: solid 1px red;
        }
        */
        
        ul,
        ol {
            margin: 0;
            padding: o;
            list-style: none;
        }
        
        a {
            display: inline-block;
            text-decoration: none;
        }
        /* header */
        
        .main-header {
            background-color: white;
            padding: 10px 0;
            display: flex;
            flex-wrap: wrap;
            height: 100px;
            display: flex;
            flex-wrap: wrap;
        }
        
        .promocion {
            z-index: 3;
            font-size: 11px;
            padding: 6px;
            background-color: #F5F5DC;
            letter-spacing: 1px;
            text-align: center;
        }
        
        .logo {
            align-items: center;
        }
        
        .ingresar,
        .registrar {
            font-size: 15px;
            letter-spacing: 1px;
            margin: 0;
        }
        /*body*/
        
        .boby-mobile {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        
        .container-carrusel {
            display: block;
            height: 80%;
            width: 100%;
            margin: 0;
            padding-right: 0;
        }
        
        .carousel-item {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        
        .container-niña {
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 5px;
            padding-top: 5px;
        }
        
        .niña-home {
            background-color: white;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 5px;
        }
        
        .button-niña,
        .button-bebe {
            background-color: white;
            color: blue;
            border: 2px solid gray;
            font-size: 20px;
        }
        
        .button-niña:hover,
        .button-bebe:hover {
            background-color: blue;
            color: #ffffff;
        }
        
        .responsive {
            width: 100%;
            height: auto;
        }
        
        .re .container-bebe {
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 5px;
        }
        
        .bebe-home {
            background-color: white;
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
            padding-bottom: 5px;
        }
        
        .listaProductos {
            display: flex;
            flex-wrap: wrap;
            background-color: white;
            justify-content: center;
        }
        
        .final-body {
            background-color: white;
            display: flex;
            border-block-end-color: hotpink;
            align-content: space-around;
            
        }
        
        .carrito {
            text-align: justify;
            display: block;
            padding-top: 20px;
            margin-top: 20px;
        }
        
        .i {
            font-family: "Roboto", sans-serif;
            color: gray;
            align-content: space-around;
            margin: 0;
            font-size: 30px;
        }
        
        .video,
        .final-body,
        .conteiner-final-body {
            padding: 5px 0 5px 5px;
        }
        
        .formulario-contacto,
        .datos-contacto {
            background-color: #ffffff;
        }
        /*footer*/
        
        .class-footer {
            letter-spacing: 1px;
            text-align: center;
        }
        /* tablet */
        
        @media (min-width: 460px) {
            .main-header {
                height: 20%;
                font-size: 20px;
            }
            .promocion {
                padding: 6px 20px;
            }
            .class-footer {
                text-align: center;
                padding: 10px;
            }
        }