/*formulario carga producto*/

.body {}

.formulario {
    padding: 10px;
    padding-left: 50px;
    width: 100%;
}

.formulario a {
    float: left;
}

.container-footer {
    display: flex;
    flex-wrap: wrap;
}

.class-footer {
    padding-top: 20px;
}

td,
input {
    size: 20em;
}