.button-volver {
    display: flex;
    overflow: hidden;
}

.product-detail {
    display: flex;
    float:center;
    width: 30%;
    height: 30%;
}

.products-title {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: violet;
    padding-top: 2rem;
    text-transform: none;

}

.p {
    justify-content: center;
    text-align: center;
    

}
.actions-list {
    text-transform: none;
    width: 50vh;
     
}

.product-detail-description {
    text-transform: capitalize;
    font-weight: bold ;
    width: 30%;
    height: 30%;
}

.p  {
    display: inline-block;
    text-decoration: none;
} 

.actions-list {
    text-align: left;
    margin: auto;
    justify-content: space-around;
    width: auto;
}
