.registrar {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.fondo-imagen {
    background-image: url("/images/nena1.png");
}

.formulario-registrar {
    display: flex;
    justify-content: flex-end;
}