<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>

    <body class="page-carga-producto">
        <!-- Header -->
        <%- include('partials/headerNavbar-interno') %>

            <main class="carga-producto">
                <form action="/productos/crear"   enctype="multipart/form-data" method="POST">
                    <div class="row">

                        <!--Selector de categoria-->
                        <div class="col-6">
                            <label for="categoria">Categoria</label>
                        </div>
                        <div class="col-6">
                            <select id="categoria" name="categoria">
                            <option value="bb-niña">bb-niña</option>
                            <option value="bb-niño">bb-niño</option>
                            <option value="niño">niño</option>
                            <option value="niña">niña</option>
                          </select>
                        </div>
                    </div>

                    <!--Selector de talle-->
                    <div class="row">
                        <div class="col-6">
                            <label for="talle">Talle </label>
                        </div>
                        <div class="col-6">
                            <select id="talle" name="talle">
                            <option value="xs">XS</option>
                            <option value="s">S</option>
                            <option value="m">M</option>
                            <option value="l">L</option>
                            <option value="l">XL</option>
                          </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <label for="color">Color </label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="color" name="color" required>
                        </div>
                    </div>

                    <!--Selector de producto-->
                    <div class="row">
                        <div class="col-6">
                            <label for="producto">Producto </label>
                        </div>
                        <div class="col-6">
                            <select id="producto" name="producto">
                            <option value="remera">Remera</option>
                            <option value="pantalon">Pantalón</option>
                            <option value="sweater">Sweater</option>
                            <option value="vestido">Vestido</option>
                          </select>
                        </div>
                    </div>

                    <div class="row">
                        <!--Label Cantidad-->
                        <div class="col-6">
                            <label for="cantidad">Cantidad</label>
                        </div>
                        <div class="col-6">
                            <input type="number" id="cantidad" name="cantidad" placeholder="Ingrese un numero" required>
                        </div>
                        <!--Label precio-->
                        <div class="col-6">
                            <label for="precio">Precio</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="precio" name="precio" required>
                        </div>
                    </div>

                    <!--Imagen del producto-->

                    <div class="row">
                        <div class="imagen">
                            <div id="divInputLoad">
                                <div id="divFileUpload">
                                <input id="file-upload" type="file" accept="image/*" name="avatar" />
                                </div>
                                <div id="file-preview-zone">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!--Guardar y Eliminar-->
                        <input type="submit" class="col-6" value="Guardar">
                        <input type="submit" class="col-6" value="Eliminar">
                    </div>


                </form>
                <div class="col-12">
                    <button type="button" class="btn btn-primary back-button ">Volver</button>
                </div>

                <script>
                    function readFile(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function(e) {
                                var filePreview = document.createElement('img');
                                filePreview.id = 'file-preview';
                                //e.target.result contents the base64 data from the image uploaded
                                filePreview.src = e.target.result;
                                console.log(e.target.result);

                                var previewZone = document.getElementById('file-preview-zone');
                                previewZone.appendChild(filePreview);
                            }

                            reader.readAsDataURL(input.files[0]);
                        }
                    }

                    var fileUpload = document.getElementById('file-upload');
                    fileUpload.onchange = function(e) {
                        readFile(e.srcElement);
                    }
                </script>
            </main>

            <!-- footer -->
            <%- include('partials/footer') %>
                <!-- /footer -->