CTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Registrar'}) %>

    <body class="page-profile">
        <!-- Header -->
        <%- include('partials/headerNavbar-interno') %>

<main>

    <h1>Bienvenido a Viste</h1>

</main>

</body>
<%- include('partials/footer') %>