<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Registrar'}) %>

    <body class="page-registrar">
        <!-- Header -->
        <%- include('partials/headerNavbar-interno') %>
            <main>
                <div class="registrar fondo-imagen">
                <!--Registracion-->
                <form action="/registrar" method="POST" enctype="multipart/form-data" class="formulario-registrar">

                    <div class="container-formulario">
                        <div class="form-group">
                            <label for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" name="name" placeholder="Ej. Ana " required>
                        </div>
                        <div class="form-group">
                            <label for="inputApellido">Nombre</label>
                            <input type="text" class="form-control" name="lastname" placeholder="Ej. Perez" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Ej. email@server.com">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Contraseña</label>
                            <input type="password" class="form-control" name="password" placeholder="**********">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Repetir Contraseña</label>
                            <input type="password" class="form-control" name="rePassword" placeholder="**********">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Registrar</button>

                    </div>

                </form>
                </div>
            </main>

    </body>
    <%- include('partials/footer') %>