/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import url(carga-producto.css);
@import url(carrito.css);
@import url(errores-home.css);
@import url(registrar.css);
@import url(detalle-producto.css);
@import url(todosLosProductos.css);
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ebebeb;
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    text-align: justify;
}


/*
[class*=col-] {
    border: solid 1px red;
}
*/

ul,
ol {
    margin: 0;
    padding: o;
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}


/* header */

.main-header {
    background-color: white;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    font-size: 15px;
    padding-right: 0;
}

.promocion {
    z-index: 3;
    font-size: 11px;
    padding: 6px;
    background-color: #F5F5DC;
    letter-spacing: 1px;
    text-align: center;
}

.logo {
    align-items: center;
    width: 30vh;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.ingresar,
.registrar {
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
}

.nav,
.nav-link active,
.nav-link {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-transform: capitalize;
    justify-content: flex-start;
}

.nav-estilo {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-transform: capitalize;
}

.dropdown {
    margin-left: 5px;
    margin-top: 10px;
}


/*Barra de navegacion*/

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li a {
    color: gray;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    text-transform: capitalize;
    justify-content: center;
    text-align: center;
}


/* button buscar */

.buscar-form {
    position: relative;
    display: flex;
    align-items: center;
}

.buscar-form_input {
    border: solid 1px var(--light-gray);
    display: block;
    width: 80%;
    padding: 10px;
    border-radius: 3px;
    height: 35px;
    font-size: 17px;
    margin-left: 3px;
}

.buscar-form_button {
    position: absolute;
    right: 2px;
    height: 60%;
    background-color: #ffffff;
    border: none;
    border-left: solid 1px var(--light-gray);
    color: var(--gray);
    cursor: pointer;
    margin-left: 3px;
    margin-bottom: 5px;
}


/*body*/

.boby-mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container-carrusel {
    display: block;
    height: 80%;
    width: 100%;
    margin: 0;
    padding-right: 0;
}

.carousel-item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-ni単a {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5px;
    padding-top: 5px;
}

.ni単a-home {
    background-color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

.button-ni単a,
.button-bebe {
    background-color: white;
    color: blue;
    border: 2px solid gray;
    font-size: 20px;
}

.button-ni単a:hover,
.button-bebe:hover {
    background-color: blue;
    color: #ffffff;
}


/*Hace imagen responsive*/

.responsive {
    width: 100%;
    height: auto;
}

.re .container-bebe {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5px;
}

.bebe-home {
    background-color: white;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    padding-bottom: 5px;
}


/* Button todos los productos*/

.listaProductos {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
}

.container-final-body {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    border-block-end-color: hotpink;
    align-content: space-around;
}

.carrito {
    text-align: end;
    display: block;
    padding-top: 50px;
}

.formulario-contacto,
.datos-contacto {
    background-color: #ffffff;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 95%;
}


/* formulario registrar y login*/

.container-formulario {
    background-color: #ffffff;
    float: right;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 12px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 95%;
}

.contactanos {
    font-size: 14px;
}


/*footer*/

.class-footer {
    letter-spacing: 1px;
    text-align: center;
    font-size: 13px;
    padding-top: 10px;
}

.i {
    font-family: "Roboto", sans-serif;
    color: gray;
    align-content: space-around;
    margin: 0;
    font-size: 30px;
}


/* barra de navegacion headerNavbar*/

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li a {
    color: gray;
    justify-content: space-evenly;
    text-decoration: none;
    padding: .5em 1em;
}


/* tablet */

@media (min-width: 460px) {
    .main-header {
        height: 20%;
        font-size: 20px;
    }
    .promocion {
        padding: 6px 20px;
    }
    .class-footer {
        text-align: center;
        padding: 15px;
    }
    .datos-contacto,
    .formulario-contacto {
        text-align: justify;
        font-size: 15px;
    }
    nav ul {
        display: flex;
        justify-content: center;
    }
    .formulario-contacto,
    .datos-contacto {
        width: auto;
    }
    .container-formulario {
        float: left;
        overflow: hidden;
        width: fit-content;
    }
    .container-formulario form-group {
        float: left;
        overflow: hidden;
    }
    .nena1 {
        opacity: 40%;
        width: fit-content;
    }
}

@media screen and (min-width: 480px) {
    nav ul {
        display: flex;
        justify-content: center;
    }
    .main-header {
        padding-top: 40px;
    }
}

@media screen and (max-width: 480px) {
    .main-header {
        padding-top: 0;
    }
}