.registrar {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.fondo-imagen {
    background-image: url("/images/nena1.png");
    padding: 2rem;
    margin: auto;
}

.formulario-registrar {
    display: flex;
    justify-content: flex-end;
    text-align: justify;
}