<header class="main-header">

    <div class="container">
        <!-- promocion menu logo carrito -->
        <!--promocion-->
        <div class="row justify-content-between ">

            <!--Aca va  a ir el menu desplegable, -->
            <div class="col-2 col-md-2 ">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bars "></i>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/ingresar">Ingresar</a>
                        <a class="dropdown-item" href="/registrar">Registrarse</a>
                        <a class="dropdown-item" href="/">Home</a>
                        <a class="dropdown-item" href="#">Colecciones</a>
                        <a class="dropdown-item" href="/carrito">Comprar</a>
                        <a class="dropdown-item" href="#">Nosotros</a>
                    </div>
                </div>

            </div>
            <!--Logo-->

            <div class="justify-content-center col-4  ">

                <!--Imagen de logo mobile-->
                <img src="/images/mini-logo1.jpg" class="d-block d-sm-none">

            </div>
            <!--Salir-->
            <div class="col-2 col-md-2 ">

                <a href="#"><img src="/images/salir.png">
                </a>

            </div>


        </div>

        <!--barra de navegacion -->
        <div cl>
            <div class="col-md-12 d-none d-md-block">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Colecciones</a></li>
                        <!--imagen logo a partir de md-->
                        <li><img src="/images/logo.jpg" class="d-none d-sm-block logo">
                            <li>


                                <li><a href="#">Nosotros</a></li>
                                <li><a href="#">Contáctanos</a></li>

                                <!--Button buscar -->
                                <form action="" method="get" class="buscar-form">
                                    <input type="text" name="buscar" placeholder="" class="buscar-form_input">
                                    <button type="submit" class="buscar-form_button"><i class="fas fa-search"></i></button>
                                </form>
                    </ul>
                </nav>

            </div>
        </div>

    </div>
</header>