<header class="main-header">

    <div class="container">
        <!-- promocion menu logo carrito -->
        <!--promocion-->
        <div class="row justify-content-between ">

            <!--Logo-->

            <div class="justify-content-center col-4  ">

                <!--Imagen de logo mobile-->
                <img src="/images/mini-logo1.jpg" class="d-block d-sm-none">

            </div>

            <!--Link a carrito-->
            <div class="col-2 col-md-2">
                <a href="/carrito"><i class="fas fa-cart-plus"></i></a>
            </div>

            <!--barra de navegacion -->
            <div class="nav-estilo">
                <div class="col-md-12 d-none d-md-block">
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Colecciones</a></li>
                            <!--imagen logo a partir de md-->
                            <li><img src="/images/logo.jpg" class="d-none d-sm-block logo">

                                <li><a href="#">Nosotros</a></li>
                                <li><a href="#">Contáctanos</a></li>
                            </li>



                            <!--Button buscar 
                            <form action="" accept-chaset="utf-8" method="get" class="buscar-form">
                                <i class="fas fa-search"></i><button type="submit" class="buscar-form_button"></button>
                                <input type="text" name="buscar" placeholder="Buscar" class="buscar-form_input">-->





                            <ul class="navbar-nav ml-auto align-items-center">
                                <% if (isLogged) { %>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="dropUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/images/usersAvatars/<%= userLogged.avatar %>" width="40" style="border-radius: 100%;">
                        Hola <%= userLogged.name %>
                    </a>
                                        <div class="dropdown-menu" aria-labelledby="dropUser" style="left: auto; right: 0;">
                                            <a class="dropdown-item" href="/usuarios/perfil">Mi perfil</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/usuarios/cerrarSesion">Cerrar Sesion</a>
                                        </div>
                                    </li>
                                    <% } else { %>
                                        <li class="nav-item"><a class="nav-link" href="/usuarios/registrar">Register</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/usuarios/ingresar">Login</a></li>
                                        <% } %>
                            </ul>

                            <!--  </form>-->
                        </ul>
                    </nav>

                </div>
            </div>

        </div>
</header>