  
<section class="jumbotron text-center logo">

	<div class="container">
		<!--
		<h1>Album example</h1>-->
		
		<div class="justify-content-center  col-6 col-md-5 ">
			<!--imagen logo a partir de md-->
			<img src="/images/logo.jpg" class="d-none d-sm-block logo">
			<!--Imagen de logo mobile-->
			<img src="/images/mini-logo1.jpg" class="d-block d-sm-none">
	
		</div>
	<!--
		<p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
	-->
	<p>
		  <a href="/listado" class="btn btn-ligth my-2">Colecciones</a>
		  <a href="#" class="btn btn-ligth my-2">Contactanos!!</a>
		</p>
	  </div>
	</section>